.button {
    display: inline-block;
    border-radius: 10px;
    color: #fff;
}
.formButton {
    width: 6em;
    height: 1.5em;
    border: none;
    font-size: inherit;
    margin: 0.8em;
}
.formButton:focus {
    outline: none;
}
.formButton:hover {
    cursor: pointer;
}
.redButton {
    background-color: red;
}