.windowLoginForm {
	visibility: visible;
}
.overlayLoginForm {
	background: #454345;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
}
.loginForm, .loginForm h3, .loginForm input {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
.loginForm {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	width: 300px;
	height: 330px;
	padding: 15px 25px 0 25px;
	margin-top: 15px;
	cursor: default;	
	background-color: #141517;
	border-radius: 15px;
	z-index: 2000;
}
.loginForm:before {
	position: absolute;
	top: -0.6em;
	left: 1em;
	
	width: 0px;
	height: 0px;
	content: '';
	
	border-bottom: 10px solid #141517;
	border-right: 10px solid #141517;
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
}
.loginForm h3 {
	line-height: 2.5em;
	margin-bottom: 0.8em;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #e4e4e4;
}
.loginForm input[type=text],
.loginForm input[type=password],
.loginForm input[type=submit] {
	line-height: 1em;
	margin: 1em 0;
	padding: 6px 15px;
	border: 0;
	outline: none;
	font-family: Helvetica, sans-serif;
	font-size: 0.6em;
	font-weight: bold;
	border-radius: 26px;
	text-shadow: 0px 1px 1px rgba(255,255,255, .2);
}
.loginForm input[type=text],
.loginForm input[type=password] {
	color: #000;
	width: 90%;
	box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
	background: #989898;
	background: linear-gradient(top,  #ffffff 0%,#989898 100%);
}
.loginForm input[type=text]:hover,
.loginForm input[type=password]:hover {
	box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
}
.loginForm input[type=text]:focus,
.loginForm input[type=password]:focus {
	background: #e1e1e1;
	background: linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
}
.loginForm input[type=submit] {
	float: right;
	color: #445b0f;
	padding: 0.4em 1.4em;
	box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
}
.loginForm input[type=submit]:hover {
	box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
	cursor: pointer;
}
.loginForm input[type=submit]:active {
	box-shadow: none;
}
.loginForm input[type=submit] {
	background: #a5cd4e;
	background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
}

@media (max-width: 575px) {
	.loginForm {
		width: 90%;
		height: 90%;
	}
	.loginForm h3 {
		font-size: 2.5em;
		margin-bottom: 0.8em;
	}
	.loginForm input[type=text],
	.loginForm input[type=password],
	.loginForm input[type=submit] {
		line-height: 1.5em;
		margin: 0.7em 0;
		font-size: 1.8em;
	}
}
@media (max-width: 767px) {
	.loginForm {
		width: 80%;
		height: 80%;
	}
	.loginForm h3 {
		font-size: 1.8em;
	}
	.loginForm input[type=text],
	.loginForm input[type=password],
	.loginForm input[type=submit] {
		line-height: 1em;
		font-size: 1.3em;
	}
	.nickname {
		font-size: 0.7em;
	}
}
@media (max-width: 991px) {
	.loginForm {
		width: 80%;
		height: 80%;
		transform: translate(-50%, -52%);
	}
	.loginForm h3 {
		font-size: 1.3em;
	}
	.loginForm input[type=text],
	.loginForm input[type=password],
	.loginForm input[type=submit] {
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		border-radius: 15px;
	}
}