.nickname {
    text-align: right;
    margin-right: 2em;
}
.nickname p {
    display: inline-block;
    vertical-align: middle;
}
.circle {
    display: inline-block;
    position: relative;
    top: -1em;
    left: 1.5em;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    animation: blink1 1s linear infinite;
}
.circle:hover {
    animation: none;
}
@keyframes blink1 {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.8
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
.circle:hover::after {
    content: attr(data-title);
    position: absolute;
    left: 20%; top: 30%;
    z-index: 1;
    background: rgba(255,255,230,0.9);
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #333;
    text-align: center;
}
.quit {
    font-size: 0.7em;
    vertical-align: middle;
    padding: 2px 8px;
    border: 1px solid silver;
    border-radius: 2px;
    background-color: #D3D3D3;
    cursor: pointer;
}
.nav {
    margin: 2em 0 1em 0;
    padding: 0 0 20px 0;
    text-align: center;
    list-style: none;
    border-bottom: 2px solid black;
}
.nav a {
    display: inline-block;
    width: 5em;
    margin: 0 3em;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.button {
    display: inline-block;
    border-radius: 10px;
    color: #fff;
}
.blackButton {
    background-color: black;
}
@media (max-width: 575px) {
    .nav a {
        display: block;
        margin: 0.2em auto;
    }
}
@media (max-width: 767px) {
    .nickname {
        font-size: 0.7em;
    }
}
@media (max-width: 1199px) {
    .nav a {
        margin: 0;
    }
}