.modal {
    visibility: hidden;
}
.overlay {
    background: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    opacity: .5;
}
.visible {
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    z-index: 2000;
    width: 700px;
    max-height: 500px;
    padding: 0px;
}
.groupAndDate {
    text-align: center;
    margin-bottom: 0.2em;
}
.groupAndDate .inline {
    display: inline-block;
    font-size: 0.8em;
    color: grey;
    margin: 0 2.8em;
    vertical-align: middle;
}
.groupAndDate .category{
    background-color: silver;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    color: inherit;
}
.groupAndDate .subcategory{
    border-radius: 5px;
    padding: 0.2em 0.5em;
    font-size: 0.9em;
    color: inherit;
    border: 1px solid black;
}
.end {
    text-decoration: underline;
}
.start {
    font-size: 0.7em;
}
.modal button {
    width: 6em;
    margin: 0.5em 1.2em;
    border: none;
    padding: 0.3em;
    background-color: green;
    color: white;
    font-size: 0.7em;
    border-radius: 5px;
    outline: none;
}
.modal .buttons {
    text-align: center;
}
.modal button:hover {
    cursor: pointer;
}
.modal button:last-child {
    margin-left: 7em;
    font-size: 0.5em;
    background: white;
    color: blue;
}
.modal h2 {
    text-align: center;
    color: #555;
    margin: 20px 0;
}
.content {
    padding: 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: WhiteSmoke;
    text-align: justify;
}

@media (max-width: 575px) {
    .visible {
        width: 70%;
        max-height: 70%;
        font-size: 1.8em;
    }
    .modal button {
        margin: 0.2em 0.9em;
    }
}