.sort {
    text-align: center;
    font-size: 0.9em;
    margin: 0 auto;
}
.sort p {
    display: inline-block;
    margin: 0 0.5em;
}
.sort p:not(:first-child) {
    width: 8em;
    background-color: silver;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width: 991px) {
    .sort p {
        margin: 0;
    }

    .sort p:not(:first-child) {
        width: 6.95em;
        font-size: 0.85em;
    }
}
@media (max-width: 767px) {
    .sort p:first-child {
        display: block;
    }
}