.task {
    height: 3.2em;
    text-align: center;
    margin: 3em 0;
    cursor: pointer;
}
.smallImg, .smallDescription {
    display: inline-block;
    margin: 0;
}
.smallImg {
    width: 3.2em;
    height: 3.2em;
    margin: 0 1em;
}
.smallDescription {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    text-align: left;
    overflow: hidden;
}

@media (max-width: 767px) {
    .smallDescription {
        width: 60%;
    }
}
@media (max-width: 575px) {
    .smallImg {
        display: none;
    }
    .smallDescription {
        width: 90%;
    }
}